body {
    height: 100vh;
    background-image: url("https://4kwallpapers.com/images/wallpapers/stars-galaxy-3440x1440-10307.jpg");
    background-size: cover;
    color: white;
    font-family: Bahnschrift, serif;
}